:root {
  --font-headings: "Playfair Display", serif;
  --font-default: "Poppins", sans-serif;
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headings);
}

h1 {
  font-size: 96px;
}

h3 {
  font-size: 64px;
  margin-top: 100px;
}

p {
  font-family: var(--font-default);
}

.hero {
  text-align: center;
  background-color: var(--secondary-color);
  padding: 160px 0;
}

.hero h2 {
  font-family: var(--font-default);
  color: #272142;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  line-height: 54px;
  margin: 0;
}

.btn-cta {
  color: #fff;
  background-color: var(--primary-color);
  padding: 18px 30px;
  border-radius: 4px;
}

.btn-cta:hover {
  color: #fff;
}

.featured-project-link {
  color: #272142;
  display: block;
  text-align: center;
  margin-top: 80px;
  text-decoration: none;
}

.project-paragraph {
  margin: 50px 0;
}

.btn-link {
  color: var(--primary-color);
  background-color: #fff;
  border: solid 1px;
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
}

.btn-link:hover {
  color: var(--primary-color);
}

@media (max-width: 576px) {
  h1,
  h3 {
    font-size: 38px;
  }

  h3 {
    margin-top: 20px;
  }
}
